* {
  font-family: sans-serif;
  box-sizing: border-box;
}

section {
  margin-top: 5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-modify {
  flex-direction: column;
  width: 20rem;
  height: 300px;
}

.column {
  flex-direction: column;
}

.border {
  border: 1px solid black;
  padding: 1rem 2rem;
  border-radius: 8px;
  max-height: 385px;
}

.input {
  border-top: 1px solid black;
  width: 320px;
  padding-top: 1.5rem;
}

.message:nth-child(even) {
  background-color: #f8f9fa;
}

.message:nth-child(odd) {
  background-color: white;
}

#messages {
  max-height: 225px;
  overflow-y: auto;
}

#messages>div {
  margin-bottom: 0.2rem;
}

.message>span {
  display: inline-block;
  max-width: 295px;
  word-wrap: break-word;
}


.msg-container {
  margin-bottom: 2rem;
  width: 320px;
}

button {
  background-color: #0ca678;
  color: white;
}

input {
  width: 15rem;
  height: 2rem;
}

button {
  width: 4.5rem;
  height: 2rem;
  border-radius: 3px;
}